In [19]:
import requests 
website_url = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text

In [44]:
from bs4 import BeautifulSoup
soup = BeautifulSoup(website_url,'lxml')

In [83]:
My_table = soup.find('table',{'class':'wikitable'})

In [84]:
A=[]
B=[]
C=[]


for row in My_table.findAll('tr'):
    cells=row.findAll('td')
    if len(cells)==3:
        A.append(cells[0].find(text=True))
        B.append(cells[1].find(text=True))
        C.append(cells[2].find(text=True))

In [76]:
import pandas as pd
df=pd.DataFrame(A,columns=['Postal Code'])
df['Borough']=B
df['Neighborhoud']=C

df

,Postal Code,Borough,Neighborhoud
0,M1A\n,Not assigned\n,\n
1,M2A\n,Not assigned\n,\n
2,M3A\n,North York\n,Parkwoods\n
3,M4A\n,North York\n,Victoria Village\n
4,M5A\n,Downtown Toronto\n,Regent Park / Harbourfront\n
...,...,...,...
175,M5Z\n,Not assigned\n,\n
176,M6Z\n,Not assigned\n,\n
177,M7Z\n,Not assigned\n,\n
178,M8Z\n,Etobicoke\n,Mimico NW / The Queensway West / South of Bloo...
179,M9Z\n,Not assigned\n,\n

In [98]:

df =df[df.Borough != 'Not assigned\n']
df

,level_0,index,Postal Code,Borough,Neighborhoud
0,0,0,M1B\n,Scarborough\n,Malvern / Rouge\n
1,1,1,M1C\n,Scarborough\n,Rouge Hill / Port Union / Highland Creek\n
2,2,2,M1E\n,Scarborough\n,Guildwood / Morningside / West Hill\n
3,3,3,M1G\n,Scarborough\n,Woburn\n
4,4,4,M1H\n,Scarborough\n,Cedarbrae\n
...,...,...,...,...,...
98,98,98,M9N\n,York\n,Weston\n
99,99,99,M9P\n,Etobicoke\n,Westmount\n
100,100,100,M9R\n,Etobicoke\n,Kingsview Village / St. Phillips / Martin Grov...
101,101,101,M9V\n,Etobicoke\n,South Steeles / Silverstone / Humbergate / Jam...
102,102,102,M9W\n,Etobicoke\n,Northwest\n

In [99]:
df = df.groupby('Postal Code')['Borough','Neighborhoud'].agg(','.join)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

In [100]:
df = pd.DataFrame(df)

In [101]:
df=df.reset_index()
df

,Postal Code,Borough,Neighborhoud
0,M1B\n,Scarborough\n,Malvern / Rouge\n
1,M1C\n,Scarborough\n,Rouge Hill / Port Union / Highland Creek\n
2,M1E\n,Scarborough\n,Guildwood / Morningside / West Hill\n
3,M1G\n,Scarborough\n,Woburn\n
4,M1H\n,Scarborough\n,Cedarbrae\n
...,...,...,...
98,M9N\n,York\n,Weston\n
99,M9P\n,Etobicoke\n,Westmount\n
100,M9R\n,Etobicoke\n,Kingsview Village / St. Phillips / Martin Grov...
101,M9V\n,Etobicoke\n,South Steeles / Silverstone / Humbergate / Jam...
102,M9W\n,Etobicoke\n,Northwest\n

In [102]:
df.shape

(103, 3)